#container {
  margin: 40px;
  padding: 24px;
  background-color:rgb(187, 248, 233);
}
#container div {
  margin: 40px;
  font-weight: bolder;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}